{% include base_path %}

<!-- Purdue 2015-style footer -->
<section class="purdue-footer__contact">
  <div class="purdue-footer__contact--inner">
    {% if site.author.github or site.author.bitbucket or site.atom_feed.hide != true %}
    <div class="page__footer-follow">
      <ul class="social-icons">
        {% if site.data.ui-text[site.locale].follow_label %}
          <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
        {% endif %}
        {% if site.author.github %}
          <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
        {% endif %}
        {% if site.author.bitbucket %}
          <li><a href="https://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
        {% endif %}
        {% if site.atom_feed.hide != true %}
        <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <p>Purdue University, 610 Purdue Mall, West Lafayette, IN 47907 | 765-494-4600</p>
    <p class="page__footer-copyright">
      <a href="https://www.purdue.edu" rel="noopener">© {{ site.time | date: '%Y' }} Purdue University</a> |
      <a href="https://www.purdue.edu/purdue/ea_eou_statement.html" target="_blank" rel="noopener">An equal access/equal opportunity university</a> |
      <a href="https://www.purdue.edu/purdue/about/integrity_statement.html" target="_blank" rel="noopener">Integrity Statement</a>
    </p>
    <p><a href="{{ base_path }}/sitemap/">Sitemap</a></p>
  </div>
</section>
