{% include base_path %}
<header class="purdue-header">
  <!-- Black signature: logo + site name -->
  <section class="purdue-header__signature">
    <div class="purdue-header__signature--inner">
      <a class="purdue-header__signature--logo" href="https://www.purdue.edu" aria-label="Purdue University">
        <img src="https://www.purdue.edu/purdue/images/PU-H.svg" alt="Purdue University" height="45">
      </a>
      <div class="purdue-header__signature--siteName">
        <a href="{{ base_path }}/">{{ site.title }}</a>
      </div>
    </div>
  </section>
  <!-- White main nav (Purdue 2015 template style) -->
  <nav class="purdue-header__mainNav">
    <div class="purdue-header__mainNav--inner">
      <ul class="purdue-header__mainNav--links" role="menubar">
        <li class="purdue-header__mainNav--item {% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}">
          <a href="{{ base_path }}/">Home</a>
        </li>
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = base_path %}
          {% endif %}
          <li class="purdue-header__mainNav--item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
            <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <li class="purdue-header__mainNav--item purdue-header__mainNav--theme">
          <a role="button" aria-label="Toggle theme" id="theme-toggle"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
